* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.green-container {
    background-color: #00AE58;
    padding: 48px 0px;
}
.purple-container {
    background-color: #622d65;
    padding: 48px 0px;
}
.light-green-container {
    background-color: #9ac19a;
    padding: 48px 0px;
}
.light-blue-container {
    background-color: lightblue;
    padding: 48px 0px;
}

.single-column{
    width: 50%;
    min-width: 400px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
