#first-paragraph {
    color: blue;
    background-color: goldenrod;
    font-style: italic;
    text-align: center;
}

#second-paragraph {
    color: #ff0000;
    background-color: lightpink;
    font-size: 25px;
    text-decoration: underline;
}

#bold-paragraph {
    font-weight: bold;
    background-color: #1d692a;
}

#span1 {
    color: crimson;
    font-weight: bold;
    font-size: 48px;
}

#span2 {
    font-style: italic;
    text-decoration: underline;
}

#span3 {
    background-color: yellow;
}

#span4 {
       background-color: lightblue;
       font-size: 20px;
       font-family: Verdana, sans-serif;
}

