* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(
        at top , 
        #371968a2, 
        #f6f5f8,
        #321264
    );
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    /* background-color: aqua; */
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    background-color: rgba(215, 211, 228, 0.984);
    grid-area: sidebar;
    padding: 0px 24px;
}

#main {
    background-color: #b5afc7f2;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
}

/************************************************************** 
    HEADER STYLING SECTION 
**************************************************************/

#header a {
    text-decoration: none;
}

#header #me {
    color: #111642;
}

#header #tube {
    color: white;
    background-color: #2a1748ef;
    padding: 4px;
    border-radius: 12px 2px;
}

/************************************************************** 
    SIDEBAR STYLING SECTION 
**************************************************************/

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 4px dotted #f6f5f8;
}

#sidebar ul a {
    text-decoration:none;
    color: #111642;
    padding: 12px;
    display: block;
}

/* pseudo-class */
#sidebar ul a:hover {
    background-color: #f6f5f8;
    border-radius: 12px;
}

/************************************************************** 
    MAIN/METUBE-ITEM STYLING SECTION 
**************************************************************/

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail-placeholder {
    background: radial-gradient(
        at top left, 
        crimson, 
        orange
    );
    aspect-ratio: 16 / 9;
    border-radius: 8px;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
    color: #f6f5f8;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}


.metube-item img {
    width: 100%
}

#madeyewlook {
    border-radius: 14px
}

#samandcolby {
    border-radius: 14px
}

#gamegrumps {
    border-radius: 14px
}

#celina-spooky-boo {
    border-radius: 14px
}

#trish {
    border-radius: 14px
}

#kris {
    border-radius: 14px
}
