* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:sans-serif
}

#page-layout {
    display: grid;
    grid-template-columns: 150px 600px 450px;
    grid-template-areas: "coloumn-one column-two column-three";
}

/************************************************************ 
    COLUMN ONE 
************************************************************/
#column-one {
    background-color: whitesmoke;
    border-right: 2px solid #d3cece;
    display: flex;
    flex-direction: column;
    padding: 25px 25px
}

#cats1 {
    border-radius: 25px;
    margin-bottom: 10px;
}
#cats2 {
    border-radius: 25px;
    margin-bottom: 10px;
}
#cats3 {
    border-radius: 25px;
    margin-bottom: 10px;
}
#cats4 {
    border-radius: 25px;
    margin-bottom: 10px;
}
#cats5 {
    border-radius: 25px;
    margin-bottom: 10px;
}
#cats6 {
    border-radius: 25px;
}

/************************************************************ 
    COLUMN TWO
************************************************************/

#column-two {
    border: 8px solid whites;
    padding: 10px 10px;    
    background-color: white;
}

#cats-main {
    width: 555px;
    padding: 24px
}

/************************************************************ 
    COLUMN THREE
************************************************************/

#column-three {
    display: inline-block;
    border: 8px solid whitesmoke;
    padding: 0px 10px;    
    background-color: whitesmoke;
}

#column-three h1 {
    padding-left: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #7d7979;
}

#seller {
    padding-left: 12px;
    padding-bottom: 12px;
}

#info {
    border-bottom: 2px solid #7d7979;
    padding-left: 12px;
    padding-bottom: 12px;
}

#column-three ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}

#column-three ul a {
    text-decoration:none;
    color: blue;
    padding: 12px;
    border-radius: 12px;
    display: block;
    outline: auto;
    margin: 12px;

}

/* pseudo-class */
#column-three ul a:hover {
    background-color: #f6f5f8;
    border-radius: 12px;
}