* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #e8e3d8,#a9d2e8);
    display: flex;
    align-items: center;
    border-bottom: 8px solid #e78675;
} 

#navbar a {
    display: inline-block;
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;
    border-radius: 24px;
    padding: 16px 24px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    color: #1f4041;
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}  

#navbar a:hover {
    color: #ffffff;
    border-radius: 24px;
    background-color: #a9d2e8;
    padding: 16px 24px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    color: #ffffff;
    font-size: 24px;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}   

#navbar #logo {
    display: inline-block;
    border-radius: 0cap;
    margin-right: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: normal;
    padding-top: 13px;
    padding-bottom: 12px;
    transition: none;
    transform: none;
}

#navbar #logo:hover {
    display: inline-block;
    background: none;
    box-shadow: none;
}

#navbar #donate {
    background-color: #e78675;
    color: #ffffff;
    border-radius: 24px;
    padding: 16px 24px;
    font-size: 24px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#navbar #donate:hover {
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

.dropdown-container {
    position: relative;
} 

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
} 

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
} 

.dropdown-menu a {
    background-color: #a9d2e8;
    width: 100%;
    min-width: 200px;
}
    
#navbar .dropdown-menu a:hover {
    color: #ffffff;
    background: #a9d2e8;
}

#hero-1 {
    background-image: url("../images/pawprint.jpg");
    background-size: cover;
    color: white;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;  
}

#hero-1 .hero-content img {
    border-radius: 24px;
    height: 850px;
    margin-bottom: 96px;
}

/* Animal Pages */

#background {
    background-image: url("../images/pawprint.jpg");
    background-size: cover;
    color: #1f4041;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;  
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card {
    width: 600px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #e8e3d8;
    background: linear-gradient(
        -50deg,
        #a9d2e8,
        #e8e3d8,
        #f9f6ef);
}
    
.card img {
    width: 100%;
}
    
.card h2 {
    font-size: 36px;
    margin-top: 12px;
}
    
.card p {
    font-size: 18px;
}
    
.card a {
    color: #e8e3d8;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #3b7487;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 4px solid #a9d2e8;
    transition: background-color .5s,color .5s;
    border-radius: 24px;
}
    
.card a:hover {
    background-color: transparent;
    border: 4px inset #a9d2e8;
    color: #3b7487;
}



@media screen and (max-width: 800px) and (min-width: 481px)  {
    #navbar {
        flex-direction: column;
    }

    #navbar #logo{
        margin-left: auto;
    }

    .hero-content {
        

    }


}